body {
    background: rgba(227, 246, 254, 0.96);
    background-image: (url(/img/fondo.svg));
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    height: 100vh;
}